cart-wrapper > h1 {
    font-weight: 300;
    text-align: center;
}

.cart-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.cart-bottom {
    padding: 10px;
    /* font-weight: 600; */
    cursor: pointer;
    /* //..... */
}

.cart-bottom > span {
    text-decoration: underline;
    cursor: pointer;
    margin: 0px 10px;
}

.cart-bottom {
    display: flex;
    justify-content: space-between;
}

.cart-info {
    flex: 3;
    font-weight: 600;

}

.cart-product {
    display: flex;
    justify-content: space-between;
}

.cart-product-details {
    flex: 2;
    display: flex;
}

.cart-product-details > img {
    width: 200px;
}

.cart-details {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cart-product-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.cart-product-price-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cart-product-counter {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.cart-product-counter > div {
    font-size: 24px;
    margin: 5px;
}

.cart-product-final-price {
    font-size: 30px;
    font-weight: 200;
}

.cart-product-hr {
    background-color: #eee;
    border: none;
    height: 1px;
    
     
}

.cart-product-summary {
    flex: 1;
    border: 0.5px solid lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 50vh;
}

.cart-product-summary-item {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    /* font-weight: 500; */
    font-weight: 500;

    /* //....    */
}

.cart-product-summary > h1 {
    font-weight: 200;
}

.aaa{
    text-align: center;
}
