.categories-products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.products-categories-wrapper{
    margin-bottom:60px;
}

.categories-products-buttons{
    display: flex;
    justify-content: center;
}

.categories-products-buttons p {
    margin: 0 10px;
    font-size: 30px;
    font-weight: bold;
}
.categories-products-buttons button:hover{
    cursor: pointer;
}