.categories-item-container{
    flex: 1;
  margin: 3px;
  height: 70vh;
  position: relative; 
}

.categories-item-container > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  position: relative; 
}

.categories-item-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.categories-item-info > h1{
    color:white;
    margin-bottom: 20px;
}

.categories-item-info > button{
    border:none;
    padding: 10px;
    background-color: white;
    color:gray;
    cursor: pointer;
    font-weight: 600;
}

.categories-item-info > button:hover
 {
    background: rgb(13, 223, 58);
    color: rgb(0, 0, 0);
    font-weight: bold;
}

@media all and (max-width: 600px){
    .categories-item-info > h1{
        font-size: 22px;  
    }

    
}