.register-container{
    width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://image.freepik.com/free-photo/young-pretty-smiling-happy-woman-red-mittens-knitted-hat-wearing-winter-coat-walking-city-street-warm-clothes_285396-5194.jpg")
      center;
  background-size: cover; 
  display: flex; 
  align-items: center;
  justify-content: center;  
}

.register-wrapper{
    width: 40%;
  padding: 20px;
  background-color:transparent;
  display: block;
}

.register-wrapper > h1{
    font-size: 24px;
}

.register-wrapper > form{
    display: flex;
    flex-wrap: wrap;
}

.register-wrapper > form > input{
    flex: 1;
    min-width: 40%;
    margin: 10px 10px 8px 0px;
    padding: 10px; 
}

.register-wrapper > form > span{
    font-size: 16px;
    margin: 20px 0px;
}

.register-wrapper > form > button{
    width: 40%;
  border: none;
  padding: 15px 20px;
  background-color: teal;
  color: white;
}


.register-wrapper > form > button:hover{
    background: rgb(153, 27, 5);
    color: rgb(0, 0, 0);
    font-weight: bold;
}


/* .field{
    display:nline;

} */
.field > label {
	font-weight: bold;
    display: center;
}



